// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.btn {
  color: #636f83 !important;
  border-color: #d8dbe0 !important;
}

.btn:hover, .btn:active {
  background: transparent;
  color: #636f83 !important;
  border-color: #768192 !important;
}